html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

a,
div,
figure,
input,
li,
ol,
p,
section,
span,
textarea,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

h1,h2,h3,h4,h5,h6{font-family: 'Poppins', sans-serif;}


body {    
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1;
    font-family: 'Poppins', sans-serif;
    background: #fff;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}


a,
button,
img,
input {
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in
}


/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}


img {
    max-width: 100%;
    height: auto;
    border: none
}
* {
    margin: 0;
    padding: 0
}

input,
select {
    vertical-align: middle;
    border: none;
    outline: 0;
    border-radius: 0;
}
input:focus {
    
    outline: 0;
}
input,
textarea,
button,
select,
a {
  /* -webkit-tap-highlight-color: rgba(0,0,0,0); */
  -webkit-tap-highlight-color: transparent;
}

    /* *[role=button]:active,
    button:not([disabled]):active,
    input:not([disabled]):active,
    select:not([disabled]):active,
    textarea:not([disabled]):active,
    option:active,
    label:active,
    xul|menulist:active {
    background-color: @color_background_highlight_overlay@ !important;
     background-color: @color_background_highlight_overlay@;
} */
select::-ms-expand {
    display: none
}
select:focus {
    outline: 0;
    -webkit-appearance: none
}

button:focus{outline: 0;}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}
button[disabled],
input[disabled] {
    cursor: default;
}
input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}
input[type=search] {
    -moz-box-sizing: content-box;
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    font-family: 'Poppins', sans-serif;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

input[type=date],
input[type=email],
input[type=name],
input[type=tel],
input[type=text] {
    outline: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
input[type=date]:focus,
input[type=email]:focus,
input[type=name]:focus,
input[type=tel]:focus,
input[type=text]:focus {
    outline: 0
}
textarea {
    overflow: auto;
    vertical-align: top;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    font-weight: 400;
    border: none;
    outline: 0;
    font-family: 'Poppins', sans-serif;
   
}

textarea:focus {
    outline: 0
}

a{color: #000; outline: none;}

.wrapper{width: 100%; float: left;}
.container {width: 100%; max-width: 1530px; margin: 0 auto; padding: 0 15px; }

.header{width: 100%; float: left;}
.header-top{width: 100%; float: left; background-color: #bfad8b; padding: 19px 0;}
.header-top-inner {width: 100%; float: left;}
.header-top-left {width: auto; float: left;}
.header-top-left span {font-family: 'Poppins', sans-serif; font-size: 14px; font-weight: 400; color: #fff;}
.header-top-left span a {text-decoration: none; color: #fff;}
.header-top-left span a:hover {color: #594745;}
.header-top-right {width: auto; float: right;}
.header-top-right-desktop{width: auto; float: right;}
.header-top-right marquee {display: none;}
.header-top-right .free-shipping { text-transform: uppercase; color: #fff; font-size: 16px; font-family: 'Crimson Text', serif; font-weight: 700;}
.header-top-right .header-msg {color: #fff; font-size: 16px; font-family: 'Crimson Text', serif; font-weight: 700; margin-left: 5px; }
.header-top-right span a {color: #fff; font-family: 'Crimson Text', serif; font-weight: 700;}
.header-top-right span a:hover {color: #594745;}

.header-middle{width: 100%; float: left; padding-top: 19px;}
.header-middle-inner {width: 100%; float: left; position: relative}
.header-middle-left {width: 20%; float: left;}
.logo {width: auto; float: left;}

.header-middle-right {width: 76%; float: right;}

.hmiddle-left-mobile{width: auto; float: left;}
.hmiddle-left-mobile{width: auto; float: left; list-style: none;}
.hmiddle-left-mobile  div {width: auto; float: left;}
.hmiddle-left-mobile-wrap {width: auto; float: left;}


.header-middle-search-bar{width: auto; float: left;position: relative; margin: 7px 40px;  }
.header-middle-search-bar .search-bar {width: auto; float: left;  border: 1px solid #000; border-radius: 4px; border-radius: 4px; padding: 12px 10px; font-style: italic; width: 500px;}
form.example input[type=submit]{width: 19px; height: 19px; outline: none; cursor: pointer; padding: 0; border: none; float: left; background: url('../images/search-icon.png') no-repeat left top; position: absolute;right: 11px;    top: 14px;}
form.example input[type=submit]:hover {background-image: url('../images/search-hover.png');}

.search-mobile{display: none;}
.hmiddle-left-mobile .search-mobile a{background: url('../images/search-icon.png') no-repeat center; height: 20px; width: 20px; float: left;}
.hmiddle-left-mobile .search-mobile a:hover{background-image: url('../images/search-hover.png');}

.search-overlay{ display: none;  position: absolute; width: 100%; height: 100%;  background-color: #fff; z-index: 99;}
.search-overlay button{ width: auto;float: right;background-color: #fff;padding: 10px 12px; margin-top: 10px;border: none; border-radius: 3px; font-size: 18px;}
.search-overlay button:hover{background-color: #BFAD8B; color: #fff;}
.so-content{margin-top: 10px;}
.so-content input[type=text]{border: 1px solid #ccc;  width: 90%; font-size: 15px; padding: 10px; border-radius: 4px;}
.search-overlay.active {transform: translateZ(0);}

.header-middle-right .trade-program a{float: left; background: url('../images/trade-image.png') no-repeat left center;}
.header-middle-right .trade-program a:hover {background-image: url('../images/trade-hover.png'); }

.header-middle-right .wishlist a{ float: left; background: url('../images/heart-img.png') no-repeat left center;}
.header-middle-right .wishlist a:hover {background-image: url('../images/heart-hover.png');}

.header-middle-right .log-in a{ float: left; background: url('../images/user-img.png') no-repeat left center;}
.header-middle-right .log-in a:hover {background-image: url('../images/user-hover.jpg'); }

.header-middle-right .shopping-cart a{float: left; background: url('../images/shopping-cart-img.png') no-repeat left center;}
.header-middle-right .shopping-cart a:hover {background-image: url('../images/shopping-hover.png'); }

.shopping-cart{ position: relative;}

.hamburger-menu a {display: none;  float: left; padding: 12px 14px; background: url('../images/hamburger.png') no-repeat center; height: 20px; width: 20px;}
.hamburger-menu a:hover {background-image: url(../images/hamburger-hover.png); transition: .4s ease-in;}

.header-middle-right1{width: auto; float: right;}
.header-middle-right-inner {width: auto; float: right; list-style: none;}
.header-middle-right ul li {width: auto; float: left; }
.header-middle-right ul li a {text-decoration: none; text-transform: uppercase;padding: 21px 40px; color: #bfad8b; font-weight: 500; font-size: 14px;}
.header-middle-right ul li a:hover {color: #594745;}

/* .header-middle-right ul li:first-child a{padding: 0;} */

.header-bottom{width: 100%; float: left;}
.desktop-navigation {width: 100%; float: left;}
.desktop-navigation ul {width: 100%; float: left; list-style: none; margin: 20px 0;}
.desktop-navigation ul li {width: auto; float: left; }
.desktop-navigation ul li:last-child {float: right;}

.desktop-navigation ul li a{width:auto; float: left; text-decoration: none;padding: 15px 14px; text-transform: uppercase;color: #000; font-family: 'Poppins', sans-serif; font-weight: 500; font-size: 14px;}
.desktop-navigation ul li a:hover{background-color: #bfad8b; color: #fff;}

/* .shop-by-brand {width: auto; float: right; } */
.shop-by-brand a {text-decoration: none; border: 1px solid #000; padding: 10px 15px; text-transform: uppercase; font-size: 14px; font-weight: 500;}
.shop-by-brand a:hover {background-color: #bfad8b; color: #fff; border: 1px solid #fff;}

.home-banner {width: 100%; float: left; margin-bottom: 60px;}
.home-banner ul {width: 100%; float: left; list-style: none;}
.banner-slider-section{width: 100%; float: none; height: 100%; background-color: #7a6761; display: flex; flex-wrap: wrap; flex-direction: row; justify-content: center; text-align: left; align-items: center;}
.banner-img{ width: 70%; height: 445px; background: url('../images/home-banner1.jpg') no-repeat left center;}
.banner-description{ width: 30%; padding: 25px 30px;}
.banner-slider-section h2{font-family: 'Josefin Sans', sans-serif; font-size: 48px; font-weight: 700; color: #fff; text-transform: uppercase; line-height: 1.2;}
.banner-slider-section h3{font-family: 'Josefin Sans', sans-serif; font-size: 35px; margin-top: 10px; font-weight: 400; color: #fff; }
.banner-slider-section .sale {font-family: 'Josefin Sans', sans-serif; font-size: 43px; margin-top: 25px; font-weight: 600; color: #d7c022; }
.banner-slider-section .latest-style {font-family: 'Josefin Sans', sans-serif; font-size: 30px; margin-top: 10px; font-weight: 400; color: #fff;}
.banner-slider-section a {background-color: #fff; color: #000;  font-family: 'Poppins', sans-serif; font-size: 14px; margin-top: 20px; display: inline-block; padding: 10px 40px; font-weight: 600; text-transform: uppercase; text-decoration: none; }
.banner-slider-section a:hover {background-color: #bfad8b; color: #fff; }

.banner-description-mobile{display: none; width: 100%; padding: 30px 30px;}

.photo-grid{width: 100%; float: left;}
.photo-grid-inner {width: 100%; float: left;}
.photo-grid-inner ul { list-style: none; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; margin: 0 -26px; margin-bottom: 24px;}
.photo-grid-inner ul li { padding: 0 26px; margin-bottom: 48px; }
/* .photo-grid-inner ul li:first-child {padding-left: 0;} */

.photo-grid-two-col li {width: 50%; float: none;}
.photo-grid-three-col li {width: 33.333%; float: none;}

.photo-grid-article {width: 100%; float: none;}
.photo-grid-figure {width: 100%;  text-align: center; overflow: hidden;} 
.photo-grid-figure:hover img{transform: scale(1.1); transition: .4s ease-in;}
.photo-grid-two-img-wrap img { max-height: 440px;}
.photo-grid-three-img-wrap {width: 100%; height: 358px;}
.photo-grid-three-img-wrap img {max-height: 358px;}
.photo-grid-three-img-wrap img:hover{box-shadow: 1px 3px 15px #888888; transition: .4s ease-in;}

.photo-grid-figcaption-inner {width: 100%; float: left;  margin-top: 35px;}
.photo-grid-figcaption-inner .product-title {width: auto; float: left;}
.photo-grid-figcaption-inner .product-title h4{ text-transform: uppercase; }
.photo-grid-figcaption-inner .product-title h4 a{text-decoration: none; color: #000; font-size: 24px;font-family: 'Poppins', sans-serif; font-weight: 600;}
.photo-grid-article:hover .product-title h4 a{color: #9c7c1d ;}


.shop-now a{ text-decoration: none; width: auto; float: right;color:#9c7c1d;text-transform: uppercase; font-size: 15px; font-family: 'Poppins', sans-serif; font-weight: 600; padding-right: 32px;
    background: url('../images/arrow.png') no-repeat 92% center;}

.photo-grid-article:hover figure img { transform: scale(1.1);}
.photo-grid-article:hover .shop-now a{color: #000; transition: .4s ease-in; background:url('../images/arrow-hover.png') no-repeat 100% center;}

.LED-light-bulbs{width: 100%; float: left;  margin-bottom: 105px;}
.LED-light-bulbs-inner{width: 100%; float: left;}
.LED-bulbs-content{width: 100%; float: left; height: 100%; display: flex; flex-wrap: wrap; background-color: #ebe6e5; flex-direction: row; text-align: left; justify-content: center; align-items: center;}
.LED-content-img-wrap{ float: left; width: 70%; height: 250px; background-image: url('../images/LED-light-bulbs.jpg'); background-repeat: no-repeat; background-position: left center; background-size: cover; }
/* background-image: url('../images/LED-light-bulbs-lg.jpg'); background-attachment: fixed; height: 250px; */
.LED-content {width: 30%; float: right; padding-left: 30px;}
.LED-content-mobile{display: none; width: 100%; float: left;}
/* .LED-content-inner{margin: 80px 60px;} */
.LED-bulbs-content a {color: #9c7c1d; text-decoration: none; text-transform: uppercase; font-size: 16px; font-weight: 600; padding-right: 40px;
    background: url('../images/arrow.png') no-repeat right center;}
.LED-bulbs-content a:hover {padding-right: 45px}
/* .LED-content-inner a:hover{padding-right: 50px} */
.LED-bulbs-content h2{font-family: 'Poppins', sans-serif; font-size: 24px; font-weight: 600; text-transform: uppercase; margin-bottom: 40px; }

.shop-by-category {width: 100%; float: left;}
.shop-by-cateogry-inner {width: 100%; float: left;}
.shop-by-cateogry-inner ul {width: 100%; float: left; list-style: none; text-align: center;}
.shop-by-category-title {width: auto; float: left; margin-bottom: 73px;}
.shop-by-category-title h3 {font-size: 28px;font-family: 'Poppins', sans-serif; font-weight: 600; position: relative;}
.shop-by-category-title h3::after { position: absolute; content: ' '; width: 47px; height: 1px; top: 60%; /* transform: translateY(5%); *//* left: 0; */ right: -70px; /* color: #000; */ background-color: #000;}

.shop-cat-content {width: 100%; float: left; margin-bottom: 124px;}
.shop-cat-content ul li{ width: 100%; float: left;  margin: 10px 0;}



.shop-cat-article {width: 100%; float: left; padding: 10px 0;}
.shop-cat-article:hover{transform:scale(1.1, 1.1); transition: .4s ease-in;}
.shop-cat-article:hover a{color: #9c7c1d;}
.shop-cat-figure{width: 100%;  display: table; table-layout: fixed;}

.shop-cat-img-wrap {width: 100%; height: 140px; display: table-cell; vertical-align: middle; color: #000;}
.shop-cat-img-wrap:hover{color: #9c7c1d;}

.shop-cat-figcaption {width: 100%; float: left; margin-top: 30px; text-decoration: none;}
.shop-cat-figcaption h4 {font-size: 16px; font-weight: 400;}

.shop-cat-img-wrap img {display: inline-block !important; vertical-align: top; width: auto !important; max-height: 140px; }

.shop-cat-content, .suggested-items-slider .owl-nav .owl-prev{ position: absolute; top: 0; right: 60px; margin-top: -58px;}
.shop-cat-content, .suggested-items-slider .owl-nav .owl-prev::before{content:'\f053';}
.shop-cat-content, .suggested-items-slider .owl-nav .owl-next{position: absolute; top: 0; right: 0; margin-top: -58px;}
.shop-cat-content, .suggested-items-slider .owl-nav .owl-next::before{content:'\f054';}

.shop-cat-content, .suggested-items-slider .owl-nav button::before{ width: 24px;height: 24px; transition: all .3s ease-in; float: left; border: #000 solid 2px; border-radius: 100%; font-weight: 900; color: #000; line-height: 24px; font-size: 10px; font-family: "Font Awesome 5 Free";}
.shop-cat-content, .suggested-items-slider .owl-nav button:hover::before{color: #fff; background-color: #594745; border-color: #594745;}

.shop-cat-content, .suggested-items-slider .owl-nav button span{font-size: 0; display: none;}
.shop-cat-content, .suggested-items-slider .owl-nav button:focus{outline: none;}

.trade-account {width: 100%; float: left; background-color: #594745; height: 285px; margin-bottom: 112px;}
.trade-account-inner {margin: 65px 0; width: 100%; float: left}
.trade-account-content{width: 100%; float: none; text-align: center;}
.trade-account-content h2{font-family: 'Poppins', sans-serif; font-size: 35px; font-weight: 500; color: #fff; margin-bottom: 10px; text-transform: uppercase;}
.trade-account-content h3{font-family: 'Crimson Text', serif; font-size: 32px; font-weight: 400; color: #f6c865; font-style: italic; position: relative; display: inline-block; vertical-align: top;  margin-bottom: 30px;}
.trade-account-content h3::before {position: absolute; content: ' '; width: 90px; height: 1px; background-color: #fff; top: 40%; transform: translateY(-40%); left: -40%;}
.trade-account-content h3::after {position: absolute; content: ' '; width: 90px; height: 1px; background-color: #fff; top: 40%; transform: translateY(-40%); right: -40%;}
.trade-account-content a { color: #000; text-decoration: none; display: inline-block; text-transform: capitalize; font-size: 14px;border: 1px solid #fff; background-color: #fff; padding: 10px 30px;}
.trade-account-content a:hover {color: #fff; background-color: #9c7c1d; border: 1px solid #fff;}

.gallery-section{width: 100%; float: left; margin-bottom: 100px;}
.gallery-section-inner{width: 100%; float: left;}
.gallery-section-title{width: auto; float: left; margin-bottom: 30px;}
.gallery-section-title h3 { font-family: 'Poppins', sans-serif; font-weight: 600; position: relative;}
.gallery-section-title h3 a{ font-size: 28px; text-decoration: none; color: #000;}
.gallery-section-title h3 a:hover {color: #9c7c1d ;}
.gallery-section-title h3::after { position: absolute; content: ' '; width: 47px; height: 1px; top: 60%; /* transform: translateY(5%); *//* left: 0; */ right: -70px; /* color: #000; */ background-color: #000;}
.gallery-section-title h3:hover::after  {background-color: #9c7c1d; right: -80px; transition: all .4s ease-in;}

.gallery{width: 100%; float: left;}
.gallery ul {width: auto; display: flex; flex-wrap: wrap; list-style: none; font-size: 0; margin: 0 -15px;}
.gallery ul li { width: 20%; padding: 0 16px;  float: none;  margin-bottom: 30px;}
.gallery-image {  text-align: center; position: relative;}
.gallery-image-wrap { height: 275px;  vertical-align: middle;}
.gallery-image-wrap img {max-height: 275px;}
/* .gallery-overlay{width: 100%; position: absolute;  text-align: center; background-color: #594745; opacity: 50%;}
.gallery-overlay a{width: 100%; float: left;color: #fff;
    font-size: 18px; text-decoration: none; opacity: 100%;
    position: absolute; top: 50%; left: 50%; 
    transform: translate(-50%, -50%);
   } */

.gallery-overlay{position: absolute; bottom: 0; left: 0;overflow: hidden; width: 100%; height: 0; background-color: #594745; opacity: 80%;  transition: .5s ease;}
.gallery-overlay a {position: absolute;width: 100%; top: 50%; left: 50%; transform: translate(-50%, -50%);  font-size: 18px; color: #fff; text-decoration: none;}
.gallery-overlay a:hover{ letter-spacing: 1px; }
.gallery-image:hover .gallery-overlay{height: 100%;}

.warehouse-ad {width: 100%; float: left; background: url('../images/warehouse-pattern.jpg') repeat top left;}
/* .warehouse-ad-wrap {width: 100%; float: left;} */
.warehouse-ad-inner {width: 100%; float: left; padding-bottom: 30px; text-align: center;}
.warehouse-ad-inner .ad-left-part {width: 50%; float: left;}
.warehouse-ad-inner .ad-right-part img{float: right;}
.warehouse-ad-inner .ad-middle {width: auto; float: left; }
.warehouse-ad-inner .ad-right-part {width: 48%; float: left; margin-top: 50px; margin-left: 10px;}
/* .warehouse-ad-inner .ad-right-part a{font-family: 'Poppins', sans-serif; float: left; font-size: 14px;padding: 15px 40px; background-color: #3e3e3e; font-weight: 600; color: #fff; text-decoration: none; text-transform: uppercase; letter-spacing: 1px;}
.warehouse-ad-inner .ad-right-part a:hover {background-color: #fff; color: #000;} */
.ad-middle-img {width: auto; float: left;}
.browse-btn {width: auto; float: left;}

.footer{width: 100%; float: left;}
.footer-top{width: 100%; float: left; background-color: #bfad8b; padding: 38px 0;}
.footer-top-inner{width: 100%; float: left; padding: 0 50px;}
.sign-up-section {width: 50%; float: left;}
.left-column{width: auto; float: left;}
.right-column {width: auto; float: left; color: #fff; margin-left: 23px;}
.right-column h4 {font-family: 'Poppins', sans-serif; font-size: 24px; font-weight: 600; line-height: 23px; margin-bottom: 10px;}
.right-column p {font-size: 14px; line-height: 1.4;}

.subscribe-section{width: 50%; float: right;}
.subscribe-bar{width: 75%; padding: 15px 10px;}
.subscribe-button {padding: 15px 0; width: 25%; font-size: 14px; text-transform: uppercase;font-family: 'Poppins', sans-serif;color: #fff;float: right; letter-spacing: 2px; font-weight: 600;background-color: #9c7c1d;  }
.subscribe-button:hover {background-color: #594745; transition: all .4s ease-in;}

.footer-middle{width: 100%; float: left;margin-top: 76px; padding-bottom: 10px; border-bottom: 1px solid #cccccc;}
.footer-middle h6{text-transform: uppercase; font-weight: 600; font-size: 18px; margin-bottom: 38px; line-height: 20px;}
.footer-middle-inner{width: 100%; float: left; padding: 0 50px;}
.footer-top-link ul {width: 100%; float: left; list-style: none; padding-bottom: 50px;}
.footer-top-link ul li {width: 100%;  float: left; margin-top: 15px;  font-weight: 400; font-family: 'Open Sans', sans-serif;}
.footer-top-link ul li:first-child {margin-top: 0;}
.footer-top-link ul li a {text-decoration: none; color: #000; opacity: 0.8; font-size: 14px;}
.footer-top-link ul li a:hover {color: #9c7c1d;}

.fcolumn1,  .fcolumn3, .fcolumn4{width: 25%; float: left; }
.fcolumn2 {width: 24%; float: left;}

.fcolumn-top {width: 100%; float: left; margin-bottom: 60px;}
.fcolumn-top ul {width: 100%; float: left;}
.fcolumn-top ul li {width: auto; float: left; list-style: none; margin-left: 30px; margin-top: 10px;}
.fcolumn-top ul li:first-child {margin-left: 0; margin-top: 5px;}


.fcolumn-top1 a{float: left;height: 30px; width: 19px;}
.icon1 a{background: url('../images/cw.jpg') no-repeat; opacity: 80%;}
.icon1 a:hover{transform: scale(1.1,1.1); opacity: 100%;}
.icon2 a{ background: url('../images/cw2.jpg') no-repeat; opacity: 80%;}
.icon2 a:hover{transform: scale(1.1,1.1); opacity: 100%;}
.icon3 a{ background: url('../images/cw3.jpg') no-repeat; opacity: 80%;}
.icon3 a:hover{transform: scale(1.1,1.1); opacity: 100%;}
.icon4 a{background: url('../images/cw4.jpg') no-repeat; opacity: 80%;}
.icon4 a:hover{transform: scale(1.1,1.1); opacity: 100%;}
.icon5 a{background: url('../images/cw5.jpg') no-repeat; opacity: 80%;}
.icon5 a:hover{transform: scale(1.1,1.1); opacity: 100%;}

.call-footer a {background: url('../images/call-footer.png') no-repeat left center; padding-left: 30px;}
.call-footer a:hover {background-image: url('../images/call-hover.png');}

.mail-footer a {background: url('../images/mail-footer.png') no-repeat left center; padding-left: 30px;}
.mail-footer a:hover{background-image: url('../images/mail-hover.png');}

.footer-bottom{width: 100%; float: left;}
.footer-bottom-inner{width: 100%; float: left; text-align: center; padding: 0 50px;}

.fbottom-left{width: auto; float: left;  font-family: 'Open Sans', sans-serif; font-size: 13px; color: #000; opacity: 70%; padding: 40px 0;}
.fbottom-middle {width: auto; float: none; display: inline-block; vertical-align: top; padding: 18px 0;}
/* .fbottom-middle ul{width: auto; float: none; list-style: none;}
.fbottom-middle ul li {width: auto; float: left;} */
.fbottom-middle div {width: auto; float: left; }

.fbottom-img-wrap{margin-left: 15px;}
.payment {width: auto; float: left; margin-top: 20px;}
.payment ul {width: auto; float: left; list-style: none;}
.payment ul li {width: auto; float: left; margin-left: 15px;}
.payment ul li:first-child{margin-left: 50px;}

.fbottom-right {width: auto; float: right;  font-family: 'Open Sans', sans-serif; font-size: 13px;  color: #000; opacity: 70%; padding: 40px 0;}
.fbottom-right a {text-decoration: none; }
.fbottom-right a:hover {color: #7a6761;}

.mm-navbars_top {display: none;}
.mm-menu {
    --mm-color-background: #fff;
    --mm-color-border: #d3c4a8;
    --mm-color-text: #bfad8b;
    --mm-navbar-size: 100px;
}
/* .mm-navbar__title > span {font-size: 28px; color: #bfad8b; font-weight: 700;} */
.mm-navbar__title {background: url('../images/brand-logo1.png') no-repeat center;}
.mm-menu a:hover {color: #7a6761 !important;}


/* ------- listing.html --------- */

.listing-banner{width: 100%; float: left; margin-bottom: 50px;}
.lbanner-section {width: 100%; height: 100%; float: none; background-color: #594745; display: flex; flex-wrap: wrap; flex-direction: row; justify-content: center; align-items: center;}
.lbanner-img {width: 67%; height: 334px; background: url('../images/listing-banner.jpg') no-repeat left center;}
.lbanner-description{width: 33%; padding: 15px 40px;}
.lbanner-description h2{font-family: 'Josefin Sans', sans-serif; font-size: 48px; font-weight: 700; color: #fff; text-transform: uppercase;}
.lbanner-description p{color: #fff; padding-right: 40px; letter-spacing: 5px; background: url('../images/arrow-down.png') no-repeat right;font-family: 'Poppins', sans-serif; font-weight: 600; font-size: 15px; margin-top: 30px; display: inline-block;text-transform: uppercase; padding-top: 10px;}

.litems-section{width: 100%; float: left; margin-bottom: 25px;}
.litems-inner{width: 100%; float: left;}
.filter-section{width: 15%; float: left;}
.filter-section h2{font-family: 'Open Sans', sans-serif;  font-size: 22px; text-transform: uppercase; border-bottom: 2px solid #636363; padding-bottom: 15px; margin-bottom: 25px;}
.accordian-main-title {text-align: left; width: 100%; float: left; background-color: transparent; font-family: 'Open Sans', sans-serif;  font-size: 22px; text-transform: uppercase; border-bottom: 2px solid #636363; padding-bottom: 15px; margin-bottom: 25px;}
.accordian-main-title:hover{color: #9c7c1d;}
.filter-section h3{margin-bottom: 20px; font-family: 'Poppins', sans-serif; font-weight: 600; font-size: 20px; text-transform: uppercase;}
.accordian-title {display: none; width:100%; float: left; text-align: left; margin-bottom: 20px; font-family: 'Poppins', sans-serif; font-weight: 600; font-size: 20px; background-color: transparent; text-transform: uppercase;}
.accordian-title:hover{color: #9c7c1d;}

.filter-section ul {width: 100%; float: left; list-style: none;}
.filter-section ul li{width: 100%; float: left; margin-bottom: 20px;}
.filter-section ul li a {text-decoration: none; font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 15px; color: #000; opacity: 80%;}
.filter-section ul li a:hover{color: #9c7c1d;}
.filter-section ul li:last-child{border-bottom: 1px solid #000; opacity: 80%; padding-bottom: 30px; margin-bottom: 30px;}

.filter-section > .accordion:after {display: none; content: '\f077';font-size: 14px;font-family: "Font Awesome 5 Free"; color: #000;float: right; margin-left: 5px; font-weight: 600; line-height: 1.7;}
.filter-section > .accordion.active:after {display: none; content: "\f078";}

.listing-section1{width: 80%; float: right;}
.breadcrumbs{width: 100%; float: left; margin-bottom: 30px;}
.breadcrumbs ul {width: 100%; float: left; list-style: none;}
.breadcrumbs ul li{  position: relative;  padding: 0 16px 0 18px; line-height: 20px; display: inline; font-size: 15px; font-family: 'Open Sans', sans-serif;}
.breadcrumbs ul li::before {content: url(../images/breadcrumb-arrow.png); position: absolute; left: 0; bottom: 2px; }
.breadcrumbs ul li:first-child::before{display: none;}
.breadcrumbs ul li:first-child{padding-left: 0;}
.breadcrumbs ul li a {text-decoration: none; font-size: 15px; font-family: 'Open Sans', sans-serif; margin-bottom: 40px; color: #9c7c1d;}
.breadcrumbs ul li .active {color: #000;}

.lsection-title{width: 100%; float: left; margin-bottom: 30px;}
.lsection-title h1 {  font-family: 'Poppins', sans-serif; font-weight: 600; font-size: 30px; text-transform: uppercase;}

.sort-by-section {width: 80%; float: right; margin-bottom: 40px; text-align: center;}
.sort-by-section .left-part {width: auto; float: left;}
.sort-by-section .left-part span{font-family: 'Open Sans', sans-serif;}
.sort-by-select{width: auto; float: right; margin-left: 20px; margin-top: -10px;}
.sort-by-select select { padding: 15px 180px 15px 10px; border: 1px solid #cccccc; -webkit-appearance: none;
    background: url('../images/drop-down.png') no-repeat 94% center;}

.pagination-top{width: auto; float: right;}
.right-part {width: auto; float: right; line-height: 20px;}
.left-arrow{width: auto; float: left; margin-right: 10px;}
.left-arrow a{background: url('../images/left-arrow.png') no-repeat 50% center; height: 18px; width: 10px; float: left; padding: 15px; margin-top: -5px;}
.left-arrow a:hover{ background: url('../images/left-arrow.png') no-repeat 20% center; }
.right-arrow{width: auto; float: left; margin-left: 10px;}
.right-arrow a{background: url('../images/rigth-arrow.png') no-repeat center; height: 18px; width: 10px; float: left; padding: 15px; margin-top: -5px;}
.right-arrow a:hover{background: url('../images/rigth-arrow.png') no-repeat 80% center; }
.right-part ul {width: auto; float: left; list-style: none;}
.right-part ul li{width: auto; float: left; margin-right: 10px;}
.right-part ul li:last-child {margin-right: 0;}
.right-part ul li a{text-decoration: none; padding: 5px 10px; font-family: 'Open Sans', sans-serif; background-color: #fff; }
.right-part ul li a:hover{background-color: #9c7c1d; color: #fff;}
.right-part span {width: auto; float: left; margin-right: 20px; font-family: 'Open Sans', sans-serif}
.right-part .active{color: #9c7c1d;}

.pagination-bottom{width: 100%; float: right; margin-bottom: 70px; margin-top: 20px; text-align: center;}

.product-grid{width: 80%; float: right;}
.product-grid ul {width: auto; float: left; list-style: none; margin: 0 -15px; margin-bottom: 15px; font-size: 0;}
.product-grid ul li {width: 25%; float: none; padding: 0 15px; display: inline-block; vertical-align: top; }
.product-grid-article{width: 100%; float: left; border: 1px solid #cccccc; position: relative; padding: 15px 0; margin: 15px 0; min-height: 400px;}
.product-grid-figure{width: 100%; float: left; display: table; table-layout: fixed; padding: 0 15px;}
.prodgrid-img-wrap{width: 100%; display: table-cell; table-layout: fixed; vertical-align: middle; text-align: center; height: 235px;}
.prodgrid-img-wrap img{max-height: 235px; display: inline-block !important; width: auto !important;}

.product-grid-content{width: 100%; float: left; margin-top: 25px; padding: 0 15px; }
.product-grid-content a{text-decoration: none; }
.product-grid-content a:hover{color: #9c7c1d;}

.product-grid-content h4 { font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 16px; line-height: 1.4;
     text-align: left; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; }
.prodgrid-pricing {width: 100%; float: left; margin-top: 25px;}
.prodgrid-pricing .orignl-price {width: auto; float: left; font-family: 'Poppins', sans-serif; font-weight: 400; font-size: 20px;  margin-right: 20px; }
.prodgrid-pricing .discounted-price {width: auto; float: left;font-family: 'Poppins', sans-serif; font-weight: 600; font-size: 20px;}

.prodgrid-figcaption {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); opacity: 0; visibility: hidden;}
.prodgrid-figcaption a{color: #fff; text-transform: uppercase; padding: 15px; display: inline-block;background-color: #666666; opacity: 80%; text-decoration: none; font-family: 'Poppins', sans-serif; font-weight: 600; font-size: 11px; letter-spacing: 2px;}

.product-grid-article:hover {box-shadow: 1px 5px 15px #cccccc;}
.product-grid-article:hover .prodgrid-figcaption {opacity: 1; visibility: visible; transition: .4s ease-in;}

.prodgrid-figcaption a:hover{opacity: 100%;}

/* ---------- detail page ---------- */

.breadcrumbsmn{width: 100%; float: left; border-top: 1px solid #cccccc; padding-top: 30px;}

.prdct-detail-section{width: 100%; float: left; margin-bottom: 70px;}
.prdct-detail-section-inner{width: 100%; float: left;}
.prdct-img-left-part {width: 48%; float: left; }
.prdct-img-wrap{width: 100%; float: none; text-align: center;  display: flex; flex-wrap: wrap; justify-content: center; align-items: center;}
/* .prdct-img-wrap img {max-height: 705px;} */

.prdct-img-slider{width: 100%; float: left;}
.prdct-img-slider ul {width: 100%; float: left; list-style: none; text-align: center; }
.prdct-img-slider ul li {float: none; width: auto; display: inline-block; vertical-align: top; }
.prdct-img-slider ul li figure{width: auto;float: left; display: table; table-layout: fixed; border: 1px solid #cccccc; }
.prdct-img-slider ul li a{width: auto; display: table-cell; height: 100px; text-align: center; vertical-align: middle; padding: 10px 20px;}
.prdct-img-slider ul li a img {max-height: 100px; width: auto !important; display: inline-block !important;}

.prdct-imgs-slider .owl-nav .owl-prev{float: left;  position: absolute; top: 50%; transform: translateY(-50%); left: -10px; }
.prdct-imgs-slider .owl-nav .owl-prev::before{content:'\f053';}
.prdct-imgs-slider .owl-nav .owl-next{ float: right;  position: absolute; top: 45%; right: -10px;  top: 50%; transform: translateY(-50%);}
.prdct-imgs-slider .owl-nav .owl-next::before{content:'\f054';}
.prdct-imgs-slider .owl-nav button::before{width: 34px; height: 34px; transition: all .3s ease-in;
     float: left; background-color: #fff;border: 1px solid #000; border-radius: 100%; font-weight:900; color: #000; line-height: 34px; font-size: 18px; font-family:"Font Awesome 5 Free";}
.prdct-imgs-slider .owl-nav button:hover::before{color: #fff; background-color: #BFAD8B; border:none }

.prdct-imgs-slider .owl-nav button span{font-size: 0; display: none;}

.prct-detail-right-part{width: 49%; float: right;}
.prdct-detail-top-part {width: 100%; float: left; border-bottom: 1px solid #cccccc; padding-bottom: 20px; margin-bottom: 60px;}
.prdct-detail-top-part h5{width: 100%; float: left; margin-bottom: 20px;}
.prdct-detail-top-part h5 a{font-family: 'Poppins', sans-serif; font-weight: 600; font-size: 18px; color: #9c7c1d; text-decoration: none; text-transform: uppercase;}
.prdct-detail-top-part h5 a:hover{color: #000;}
.prdct-detail-top-part h1 {font-family: 'Poppins', sans-serif; font-weight: 600; font-size: 28px; line-height: 1.4; margin-bottom: 40px;}
.prdct-detail-top-part span {font-family: 'Poppins', sans-serif; font-weight: 600; font-size: 15px;  }

.prdct-detail-bottom-part{width: 100%; float: left; }
.prdct-pricing{width: 100%; float: left; line-height: 20px; margin-bottom: 50px;}
.prdct-pricing span {width: auto; float: left; font-family: 'Poppins', sans-serif; font-weight: 600; }
.prdct-pricing .orignl-price{width: auto; float: left; font-size: 25px; font-weight: 400; margin-right: 20px;}
.prdct-pricing .discounted-price{width: auto; float: left; font-size: 25px; font-size: 600; color: #ab0000; margin-right: 50px; }
.prdct-pricing .you-save-price{width: auto; float: left; font-weight: 600; font-size: 17px; color: #03860c; }

.label-value{width: 100%; float: left; margin-bottom: 25px; font-family: 'Poppins', sans-serif; }
.label-value span {width: auto; float: left; font-size: 17px; margin-right: 10px;}
.label-value strong{width: auto; float: left; font-size: 17px;}

.check-out{width: 100%; float: left; padding-bottom: 30px; border-bottom: 1px solid #cccccc;}
.prdct-qty{width: auto; float: left;}
.prdct-qty .qty{font-size: 17; font-family: 'Poppins', sans-serif; font-weight: 400;}
.qty-counter{margin-left: 10px; padding: 18px; border: 1px solid #cccccc; width: 60px; font-size: 15px; text-align: center;}
.qty-counter::-webkit-inner-spin-button,.qty-counter::-webkit-outer-spin-button {  -webkit-appearance: none;  margin: 0; }
.prdct-qty input[type=number] { -moz-appearance: textfield;}

.add-to-cart{width: auto; float: left; margin-left: 20px;}
.add-to-cart input[type=submit] { float: left; text-transform: uppercase; background: url('../images/cart1.jpg') no-repeat 13% center; text-decoration: none; color: #fff; background-color: #9c7c1d;
    padding: 13px 50px 13px 70px; transition: none; border: 1px solid #9c7c1d; font-family: 'Poppins', sans-serif; font-weight: 600; font-size: 20px; letter-spacing: 2px;}
.add-to-cart input[type=submit]:hover {background-image: url('../images/cart1-hover.jpg'); background-color: #fff; color: #000; border: 1px solid #000; 
    }

.wishlist1 {width: auto; float: left; margin-left: 15px;}
.wishlist1 a{float: left;  text-transform: uppercase; text-decoration: none;  border: 1px solid #000;  color: #000; background-color: transparent; 
     padding: 18px 50px 18px 70px;font-family: 'Poppins', sans-serif; font-weight: 600; font-size: 20px;
      letter-spacing: 2px; background: url('../images/heart.png') no-repeat 17% center;}
.wishlist1 a:hover{color: #fff;  background-image: url('../images/heart-hover1.png'); background-color: #9c7c1d; border: 1px solid #9c7c1d;}


.prdct-detail-fes{width: 100%; float: left; background-color: #f4f4f4; padding: 15px 0;}
.prdct-detail-fes ul {width: 100%; float: none; list-style: none;  text-align: center;}
.prdct-detail-fes ul li {width: auto; float: none; margin: 0 45px; display: inline-block; vertical-align: top; font-family: 'Poppins', sans-serif; font-weight: 600;}
.prdct-detail-fes ul li a {text-decoration: none; font-family: 'Poppins', sans-serif; display: inline-block; vertical-align: top; font-weight: 600;  padding:20px 0 20px 50px; color: #000;}
.prdct-detail-fes ul li a:hover{color: #9c7c1d;}

.prdct-detail-fes .free-shipping {padding:20px 0; padding-left: 52px;  background: url('../images/free-shipping.png') no-repeat left center;}
.prdct-detail-fes .email a{background: url('../images/email.png') no-repeat left center;}
.prdct-detail-fes .email a:hover{background-image: url('../images/email-hover.png');}
.prdct-detail-fes .share a{background: url('../images/share.png') no-repeat left center;}
.prdct-detail-fes .share a:hover{background-image: url('../images/share-hover.png');}

.prdct-description{width: 100%; float: left; margin-bottom: 70px;}
.prdct-description-inner{width: 100%; float: left;}
.prdct-description-tab{width: 100%; float: left;}

.prdct-description-tab input[type=button]{background-color: transparent; width: auto; float: left; padding: 15px 30px; font-family: 'Poppins', sans-serif; font-weight: 600; font-size: 16px; text-transform: uppercase; }
.prdct-description-tab input[type=button].active, .tab-mobile input[type=button].active {border: 1px solid #000; background-color: #f4f4f4; border-bottom: none;}
.prdct-description-tab input[type=button]:hover{color: #9c7c1d;  }

.prdct-description-inner .tabcontent{display: none;}

.prdct-description-inner .prdct-info {width: 100%; float: left; border: 1px solid #000; padding: 25px;}
.prdct-description-inner .prdct-info h3, .prdct-description-inner .reviews h3 {font-size: 23px; margin-bottom: 20px;}
.prdct-description-inner .prdct-info h4 {float: left; font-family: 'Open Sans', sans-serif; font-size: 18px; margin-bottom: 20px; margin-top: 40px;  }
.prdct-description-inner .prdct-info h5{margin-bottom: 20px; font-size: 15px; font-family: 'Open Sans', sans-serif; font-weight: 700; }
.prdct-description-inner .prdct-info p {font-family: 'Open Sans', sans-serif; font-weight: 400; font-size: 15px; line-height: 20px; margin-bottom: 20px;}
.prdct-info ul {width: 100%; float: left; list-style: none; list-style-image: url('../images/bullet-arrow.png');}
.prdct-info li {width: 100%; float: left; font-family: 'Open Sans', sans-serif; font-size: 15px; line-height: 30px; margin-left: 15px; padding-left: 10px;}

.prdct-description-inner .reviews {width: 100%; float: left; border: 1px solid #000; padding: 25px;}

.tab-mobile{display: none;}
.tab-mobile input[type=button] {padding: 15px; margin-top: 20px; font-family: 'Poppins', sans-serif; background-color: #fff; border: 1px solid #000; font-weight: 600; font-size: 16px; text-transform: uppercase;}


.prdct-info .prdct-title{font-weight: 600;}
.prdct-info .prdct-margin {margin-top: 40px;}

.suggested-items{width: 100%; float: left; margin-bottom: 65px;}
.suggested-items-inner{width: 100%; float: left;}
.suggested-items-title{width: 100%; float: left;}
.suggested-items-title h2, .recently-viewed-title h2{font-weight: 600; font-size: 28px; position: relative; padding-right: 70px; float: left; margin-bottom: 20px;}
.suggested-items-title h2::before, .recently-viewed-title h2::before{content: ''; position: absolute; height: 1px; top: 50%; transform: translateY(-50%); right: 0; width: 40px; background-color:  #000;}
.suggested-items-inner ul, .recently-viewed-inner ul {width: 100%; float: left; font-size: 0;}
.suggested-items-inner ul li, .recently-viewed-inner ul li {width: 100%; float: left; padding: 0 15px;}

.recently-viewed-section{width: 100%; float: left; margin-bottom: 65px;}
.recently-viewed-inner{width: 100%; float: left;}
.recently-viewed-title{width: 100%; float: left;}
